<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.demo01.Mapper.RouteMapper">
    <select id="getRouteBySpot" resultType="Route">
        select * from traveldb.t_route where Start = #{Start}
    </select>

    <select id="getAllRoute" resultType="Route">
        select * from traveldb.t_route
    </select>
</mapper>