<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.demo01.Mapper.spotcomMapper">
    <select id="getAllSpotCom" resultType="spotcomments">
        select * from traveldb.t_spotcomments where spname = #{spname};
    </select>
</mapper>